{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "overrides": [{
    "files": "*.json",
    "options": {
      "tabWidth": 4
    }
  }],
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "useTabs": true
}
