@charset 'UTF-8';

.ie body {
	padding-top: 6em;
}

.ie #unsupported-ie {
	background: #660000;
	color: white;
	display: block;
	left: 0;
	margin: 0;
	padding: 1px 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.ie__title {
	font-size: 1.618em;
	margin: .5em 0;
	padding: 0;
}

.ie__message {
	font-size: 1em;
	margin: 1em 0;
	padding: 0;
}

.ie__message a:link,.ie__message a:visited,.ie__message a:active {
	color: inherit;
	text-decoration: underline;
}