---
import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import { Generator } from '../../../components/WorldEditor/Generator';

const title = 'The Settlers II.net World Editor Generator';
const description = 'Generator maps for The Settlers II Gold Edition or Return to the Roots';
const permalink = 'https://settlers2.net/world-editor/generator'

---
<html lang="en">
  	<head>
    	<BaseHead title={title} description={description} permalink={permalink} />
		<link rel="stylesheet" href="/blog.css" />
		<style>
		.editor { margin: 0 4rem; }
		.content { padding-bottom: 8rem; }
		</style>
	</head>
	<body>
		<BlogHeader />
		<main class="editor" id="main">
      		<article class="content">
				<h1>World Editor Generator</h1>
				<p>This is early preview quality: expect unfinished end results.</p>
				<Generator client:load />
			</article>
		</main>
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>
	</body>
</html>
