---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>World Editor: Generator</title>
		<meta http-equiv="refresh" content="0;url=https://settlers2.net/map-generator" />
	</head>
	<body>
		<p>Moved permanently to <a href="https://settlers2.net/map-generator">/map-generator</a></p>
	</body>
</html>
