---
import { Textures as GFX } from '$/components/Textures'
import Layout from '$/layouts/Layout.astro'

const title = 'The Settlers II.net: Textures'
const description = 'Textures for The Settlers II Gold Edition and Return to the Roots'
const permalink = 'https://settlers2.net/archives/textures'
---

<Layout lang="en" title={title} description={description} permalink={permalink}>
	<main id="main">
		<article>
			<h1>Terrain textures of The Settlers II</h1>
			<p>
				This page is an archive of all known available texture sets. Each of these is also usable in Return
				to the Roots. Instructions on this page focus on Gold Edition.
			</p>
			<p>
				A texture file (<code>TEX#.LBM</code>) might not only be about newly drawn graphics! It may also
				include a new color palette (<code>PAL#.BBM</code>) and accompanying instructions file for texture
				shading (<code>GOU#.DAT</code>).
			</p>
			<p>File locations:</p>
			<ul>
				<li><code>DATA/TEXTURES/GOU#.DAT</code></li>
				<li><code>GFX/PALETTE/PAL#.BBM</code></li>
				<li><code>GFX/TEXTURES/TEX#.LBM</code></li>
			</ul>
			<p>
				The <code>#</code> stands for a number where 5 = Greenland, 6 = Wasteland, and 7 = Winter World.
			</p>
			<p>
				Textures provided on this page may have been separated from other files they were originally bundled
				with. Links to further sources are provided!
			</p>
			<GFX client:load />
		</article>
	</main>
</Layout>
