---
export interface Props {
	as: string
}

const { as } = Astro.props
---

<span class="emoji" aria-hidden="true">{as}</span>

<style>
	.emoji {
		line-height: 0;
		text-shadow: -2px 0 0 var(--shadow-bg), 2px 0 0 var(--shadow-bg), 0 -2px 0 var(--shadow-bg),
			0 2px 0 var(--shadow-bg), 0 0 2px var(--shadow-bg);
	}
</style>
