.description {
	font-size: 1rem;
	line-height: 1.25;
	margin-left: 2rem;
	max-width: 25rem;
}

.radio {
	padding-left: 2rem;
	position: relative;
}

.radio > input {
	position: absolute;
	left: 1rem;
	margin: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}

.bars {
	display: flex;
	gap: 0.125rem;
}

.mapView {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	min-width: 24rem;
	position: sticky;
	top: 5rem;
	float: right;
	z-index: 2;
}

.mapView canvas {
	filter: brightness(1.025) contrast(1.15);
}

.resourcesList {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75rem;
	gap: 1rem;
	margin: 0;
	max-width: 24rem;
	padding: 0.25rem;
}

.resourcesList img {
	vertical-align: middle;
}

.resourcesList > div {
	align-items: center;
	display: inline-flex;
	gap: 0.5rem;
}

.resourcesList > div > dd,
.resourcesList > div > dt {
	margin: 0;
	padding: 0;
}

.section {
	align-items: center;
	background: var(--shadow-bg);
	border: thin solid var(--line-color);
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
