.bars {
	display: flex;
	gap: 0.125rem;
}

.buttonRow {
	display: flex;
	gap: 0.5rem;
}

.button {
	appearance: none;
	background: white;
	border: none;
	box-sizing: content-box;
	color: #333;
	cursor: pointer;
	font-family: var(--font-mono);
	font-size: 0.875rem;
	font-weight: bold;
	flex: none;
	height: 256px;
	width: 256px;
	padding: 1rem;
	vertical-align: middle;
}

.buttonSelected {
	composes: button;
	background-color: var(--theme-accent);
	color: white;
}

.downloadSwdWld {
	background: white;
	border-radius: 0.5rem;
	padding: 1rem;
}
