.container {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	margin: auto;
}

button > .container {
	max-height: 256px;
	max-width: 256px;
	pointer-events: none;
}

.canvasWrapper {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.canvasWrapper > canvas {
	display: block;
	image-rendering: crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	margin: auto;
}
