---
import Layout from '$/layouts/Layout.astro';
import { WorldEditor } from '$/components/WorldEditor';

const title = 'The Settlers II.net World Editor';
const description = 'Edit maps of The Settlers II Gold Edition or Return to the Roots';
const permalink = 'https://settlers2.net/world-editor'

---
<Layout lang="en" title={title} description={description} permalink={permalink}>
	<style>
	.editor { grid-column: 1 / 4; margin: 0 4rem; }
	.content { padding-bottom: 8rem; }
	</style>
	<main class="editor" id="main">
		<article class="content">
			<WorldEditor client:load />
		</article>
	</main>
</Layout>
